.loading-spinner-container {
  padding: 2rem;
  display: flex;
  width: 100%;
  justify-content: center;
}
//entire app background
.mat-card-header {
  background-color: powderblue;
  border-radius: 10%;
}
//colours table rows
.rows-alternate:nth-child(2n) {
  background-color: #fafafa;
}

td.last-column {
  text-align: right;
}
tr.highlight {
  background-color: #31bf5d;
}
